{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>试卷修改</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
{% endblock %}
{% block body %}
    <button type="button" class="btn btn-info" onclick="add_subject()">新增题目</button>
    <a href="/register" style="text-decoration: none">
        <button type="button" class="btn btn-info">修改试卷</button>
    </a>
    <div class="jumbotron" style="padding:0px 0px 0px 10px">
        <form method="post" onsubmit="return check(this)">
            {% csrf_token %}
            <div class="bs-example container" id="subject" style="margin:10px auto 0px 70px;">
                <div id="subject_data" style="margin:0px auto 20px 0px;">
                    <div class="col-lg-10" style="padding: 20px 0px 0px 0px">
                        <p class="text-success title" id="title_1"></p>
                        <strong>题目:</strong>
                        <textarea class="form-control" rows="3" name="object_title"></textarea>
                    </div>
                    <div class="col-lg-5" style="padding: 20px 0px 0px 0px">
                        <strong style="display: block">选项A:</strong>
                        <input type="text" class="form-control" id="option_1" name="option_A" placeholder="请输入对应选项">
                    </div>
                    <div class="col-lg-5" style="padding: 20px 0px 0px 0px">
                        <strong style="display: block">选项B:</strong>
                        <input type="text" class="form-control" id="option_2" name="option_B" placeholder="请输入对应选项">
                    </div>
                    <div class="col-lg-5" style="padding: 20px 0px 0px 0px">
                        <strong style="display: block">选项C:</strong>
                        <input type="text" class="form-control" id="option_3" name="option_C" placeholder="请输入对应选项">
                    </div>
                    <div class="col-lg-5" style="padding: 20px 0px 0px 0px">
                        <strong style="display: block">选项D:</strong>
                        <input type="text" class="form-control" id="option_4" name="option_D" placeholder="请输入对应选项">
                    </div>
                    <div class="col-lg-5" style="padding: 20px 0px 0px 0px">
                        <strong style="display: block">正确答案:</strong>
                        <input type="text" class="form-control" id="option_5" name="auswer" placeholder="请输入正确答案">
                    </div>
                    <div class="col-lg-6" style="padding: 20px 0px 0px 380px;margin-top: 20px">
                        <span class="iconfont icon-tubiaomianxing02-05" onclick="add_subject()"
                              style="font-size: 30px"></span>
                        <span class="iconfont icon-tubiaomianxing02-08" onclick="reduce(this)"
                              style="font-size: 30px"></span>
                    </div>
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="提交全部"
                   style="display: block;margin:10px auto 30px 80px;">
        </form>
    </div>
    <div class="modal fade" id="nodelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除失败！</h4>
                </div>
                <div class="modal-body">
                    <p>这是最后一题了不能进行删除</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#nodelete').modal('hide');">我知道了
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var title_no = 1
        $(function () {
            title_sort()
        })

        function add_subject() {
            /*
            * 获取复制的标签，然后复制到对应的div下，然后修改标题
            * */
            var subject_data = document.getElementById('subject_data').cloneNode(true);
            document.getElementById('subject').appendChild(subject_data);
            title_sort();
            document.getElementsByClassName('title')[title_no].getAttributeNode("id").value = "title_" + (title_no + 1);
            var option_content = $('#title_' + (title_no + 1));
            option_content.siblings("textarea").val("")
            for (i = 0; i < 5; i++) {
                option_content.parent().siblings().children("input").val("");
            }
            title_no += 1;
        }

        function reduce(obj) {
            var element = obj.parentNode.parentElement;
            if (title_no != 1) {
                element.remove();
                title_sort();
                title_no -= 1;
            } else {
                $('#nodelete').modal('show');
            }
        }

        function title_sort() {
            title = $('.title');
            for (i = 0; i < title.length; i++) {
                title[i].innerHTML = "第" + (i + 1) + "题:";
            }
        }

        function check() {
            /*
            *查看题目是否为空
            */
            var er = true;
            textarea_data = document.getElementsByTagName('textarea')
            for (i = 0; i < textarea_data.length; i++) {
                if (textarea_data[i].value == "" && ($("#title_" + (i + 1)).siblings("#error").length == 0)) {
                    er = false;
                    $("#title_" + (i + 1)).parent().append($("<div id='error'>题目不能为空！</div>"));
                } else if (textarea_data[i].value != "") {
                    if ($("#title_" + (i + 1)).siblings("#error")) {
                        $("#title_" + (i + 1)).siblings("#error").remove();
                    }
                }
            }
            $('.col-lg-5 input').each(function () {
                if ($(this).val() == "" && ($(this).siblings("#error").length == 0)) {
                    er = false;
                    $(this).parent().append(($("<div id='error'>输入框不能为空！</div>")));
                } else if ($(this).val() != "") {
                    if ($(this).siblings("#error")) {
                        $(this).siblings("#error").remove();
                    }
                }
            })
            return er;
        }
    </script>
{% endblock %}